// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.status_radio_buttons {
  display: flex;
  gap: 15px; /* Adjust spacing */
  align-items: center;
}
